#!/bin/bash

echo "Running Comtrya for user packages..."

# Comtrya ya debe estar instalado por el bootstrap.
if ! command -v comtrya &> /dev/null; then
    echo "Comtrya not found! Something went wrong in bootstrap."
    exit 1
fi

sudo comtrya -d "{{ .chezmoi.homeDir }}/.config/comtrya/" apply -m pacman-packages, aur-packages
